.main{
background-color:#000099; width:600px; height:400px; margin:0 auto; overflow:hidden;
}
.content{
background-color:#00CC00; width:400px; float:left; padding-bottom:32000px; margin-bottom:-32000px;
}
.righter{
background-color:#660033; width:200px; float: left; padding-bottom:32000px; margin-bottom:-32000px;
}
.foot{
background-color:#FFFF00; clear:both; float:left; width:100%;
}
color:#FFFF00;
}